* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(238, 238, 238);
  text-decoration: none;
}
.nav {
  z-index: 1;
  margin-top: 2rem;
}
.nav a {
  background: #8268a6;
  margin: 2rem 3rem;
  padding: 0.5rem;
  border-radius: 4px;
  font-family: cursive;
  color: white;
}
.nav a:hover {
  background: transparent;
  border: 2px solid #8268a6;
  color: #8268a6;
}
.container {
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 90vh;
  z-index: -1;
  background: rgb(241, 241, 241);
}
.wrapper {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "a a b"
    "c d d"
    "c e e";
  width: 70%;
}
.wrapper .wrap1 {
  background: #8268a6;
  grid-area: a;
  height: 200px;
  padding: 2rem;
  font-size: 3rem;
}
.wrapper .wrap2 {
  background: #dca7f2;
  grid-area: b;
  height: 200px;
  padding: 2rem;
  font-size: 3rem;
}
.wrapper .wrap3 {
  background: #bb94f2;
  grid-area: c;
  height: 420px;
  padding: 2rem;
  font-size: 3rem;
}
.wrapper .wrap4 {
  background: #ecbdf2;
  grid-area: d;
  height: 140px;
  padding: 2rem;
  font-size: 3rem;
}
.wrapper .wrap5 {
  background: #f2d5f2;
  grid-area: e;
  height: 260px;
  padding: 2rem;
  font-size: 3rem;
}
